name: suraksha_womensafety
description: A new Flutter application.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2
  intl: ^0.16.0
  firebase_core: any
  firebase_auth: ^0.15.5+2
  flutter_sms: ^1.1.0
  firebase_dynamic_links: ^0.5.0
  share: ^0.6.3+1
  url_launcher: ^5.4.2
  geolocator: ^5.3.0
  youtube_player_flutter: ^6.0.3+2
  firebase_database:
  flutter_dialogflow: ^0.1.3

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - images/profile.jpg
    - images/fembot.png
    - images/helpline.jpg
    - images/profile.jpg
    - images/report.jpg
    - images/safe guide.jpg
    - images/safezone.jpg
    - images/sos.jpg
    - images/timer.jpg
    - images/training.jpg
    - images/beti.jpg
    - assets/suraksha.json


 
  fonts:
    - family: Roboto
      fonts:
        - asset: fonts/Roboto-Regular.ttf
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
